<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Jan2018DemoWebsite-20180112054046.mdf;Initial Catalog=aspnet-Jan2018DemoWebsite-20180112054046;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>

</connectionStrings>
